{% extends "layout/base.html" %}

{% block title %}Open Lotteries{% endblock %}

{% block content %}
<div class="row">
{% if lotteries %}
    <div class="col-md-6">
    <h1>
        Open Lotteries
    </h1>
{% for lottery in lotteries %}
        <h2>
            {{ lottery.name }}
            <a class="btn btn-primary btn-lg" href="{%url 'play_lottery' lottery.id %}" role="button">Play</a>
        </h2>
        <p>
        {{ lottery.description }}
        </p>
{% endfor %}
</div>
{% endif %}

{% if player_tickets %}
<div class="col-md-6">
    <h1>
        My Tickets
    </h1>
{% for ticket in player_tickets %}
<div role="alert" {% if not ticket.lottery.winner_chosen %}class="alert alert-info"{% else %}{% if ticket.is_winner %}class="alert alert-success"{% endif %}{% endif %}>
    <h2>
        {{ ticket.lottery.name }}
    </h2>
    <h3>
        {{ ticket.ticket }}
    </h3>
    <p>
    {{ ticket.lottery.description }}
    </p>
</div>
{% endfor %}
{% endif %}
</div>

</div>

{% endblock content %}
