{% extends "layout/base.html" %}

{% block title %}Open Lotteries{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
{% if lotteries %}
    <h1>
        Open Lotteries
    </h1>
{% endif %}
{% for lottery in lotteries %}
        <h2>
            {{ lottery.name }}
            <a class="btn btn-primary btn-lg" href="{%url 'play_lottery' lottery.id %}" role="button">Play</a>
        </h2>
        <p>
        {{ lottery.description }}
        </p>
{% endfor %}
</div>

<div class="col-md-6">
{% if player_tickets %}
    <h1>
        My Tickets
    </h1>
{% endif %}
{% for ticket in player_tickets %}
        <h2>
            {{ ticket.lottery.name }}
        </h2>
        <h3>
            {{ ticket.ticket }}
        </h3>
        <p>
        {{ ticket.lottery.description }}
        </p>
{% endfor %}
</div>

</div>

{% endblock content %}
